.profile {
  min-height: 84.5vh;
}
.loading {
  text-align: center;
  margin-top: 100px;
}
.title {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 10px;
}
.info {
  padding: 15px 70px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: #de231e;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin: 10px;
}
.button:hover {
  background-color: #980c24;
}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}
.recommendations {
  background-color: #f3f3f7;
  padding: 5px 70px 15px;
}
.titleRecommendations {
  font-size: 27px;
  font-weight: 600;
  padding: 10px 0px;
}
